*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  display: block;
  max-width: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--ff-sans);

  .body-inner {
    .form-group {
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      display: flex;
      gap: 1rem;

      input,
      select {
        outline: none;
        border: none;
        background: inherit;
        color: inherit;
        width: 100%;

        &::placeholder {
          color: inherit;
        }
      }
    }

    &.light-mode {
      background: var(--clr-very-light-gray-light);
      color: var(--clr-very-dark-blue-light);

      .form-group {
        background: var(--clr-white);
        box-shadow: 0px 1px 5px -3px var(--clr-black);
        color: var(--clr-dark-gray-light);
      }
    }

    &.dark-mode {
      background: var(--clr-very-dark-blue-dark);
      color: var(--clr-white);

      .form-group {
        background: var(--clr-dark-blue-dark);
        box-shadow: 0px 1px 5px -3px var(--clr-black);
        color: var(--clr-white);
      }
    }

    .main-container {
      display: grid;
      gap: 1.5rem;
    }

    .wrapper {
      max-width: rem(1280);
      margin: auto;
      padding-inline: 1rem;
    }
  }
}

@media screen and (min-width: 760px) {
  body {
    .wrapper {
      padding-inline: 0;
    }
  }
}
